spring:
 datasource:
   url: jdbc:h2:tcp://localhost/~/jpashop
   username: sa
   password:
   driver-class-name: org.h2.Driver
 jpa:
   hibernate:
#     ddl-auto: update # 지우지않고 컬럼 업데이트만함  
     ddl-auto: create # 다 지운다음에 다시 생성함 
   properties:
     hibernate:
       #show_sql: true #시스템 아웃으로 찍지말고 로그로 찍어야 함
       format_sql: true
       default_batch_fetch_size: 1000 #in쿼리의 개수 크기는 적당한 사이즈를 골라야 하는데, 100~1000 사이를 선택하는 것을 권장한다
 thymeleaf:
   prefix: classpath:/templates/
   suffix: .html
logging.level:
 org.hibernate.SQL: debug
 #org.hibernate.type: trace #쿼리 파라미터 찍는법 1 